body{
    background-color:rgb(255, 255, 255,0);
    text-align: center;
}
 .navbar{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255,0);
 }
.line{    
    width: 5%;
    height: 5vh;
    /* background-color: antiqueblack; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1vw;
    /* align-items: center; */
    z-index: 2000;
}
.line-1{
    width: 100%;
    border: 1px solid black;    
}
.line-3{
    width: 35%;
    border: 1px solid black;    
}
.line-2{
    width: 20%;
    border: 1px solid black;    
}
.portfoilo{
    color: rgb(0, 0, 0);
    font-size:5vw;
    font-weight: normal;
    width: 90%;  
    text-align: center;  
}
#indexcome{
    z-index: 9090;
    position: absolute;
    right: 30px;
    cursor: pointer;
    font-size: 2.8rem;
    text-decoration: none;
}
.garvit{
    display: inline;
    color: rgb(0, 0, 0);
    font-size: 10vw; 
    font-weight: bolder;
    z-index: 3;
    font-family: inter;
    position: relative; 
    background-color: rgb(0, 0, 0);
    color: transparent;
    -webkit-background-clip: text;
    animation: amima 3s infinite alternate; 
}
/* @keyframes amima{
    0%{
        background-color: rgba(255, 255, 255, 0.603);
    }
    100%{
        background-color: rgb(11, 9, 66);
    }
} */
/* .garvit::after{
    content: "GARVIT";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: navy;
    position: absolute;
    background-color: beige;
}
.garvit::before{
    content: "GARVIT";
    position: absolute;
    width: fit-content;
    background-color: rgb(151, 85, 0);
} */
/* 
.garvit:hover::after{
    content: "";
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 255, 0.263);
    top: 0;
    left: 0;
    animation-name: garvitanim;
    animation-duration: 2s;
    z-index: 11;
    text-align: center;
}
.garvit:hover::before{
    content: "";
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 255, 0.9);
    top: 0;
    left: 0;
    animation-name: garvitanim;
    animation-duration: 2s;
    z-index: 11;
    text-align: center;
}
@keyframes garvitanim{
    0%{
        width: 0;
        left: 0;
    }
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width:0;
        left:100%;
    }
} */
.arora{
    display: inline;
    color: rgb(0, 0, 0);
    font-size: 10vw;
    font-weight: bolder;
    z-index: 4;
    font-family: inter;
    text-underline-position: under;
}
.circle{
    width: 22vw;
    height: 40vh;
    display: inline-block;
    border-radius: 50%;
    border-bottom: 4px solid rgb(146, 182, 255,0.5);
    border-right: 3px solid rgb(146, 182, 255,0.5);
    border-left:  3px solid rgb(146, 182, 255,0.5);  
    background-image: url(pic1.png); 
    background-size: cover;
    z-index: 5;
    justify-content: center;
}
.circle:hover{
    box-shadow: 0 0 17px rgb(76, 118, 202);
    border: none;
}
.frntend{
    color: black;
    font-size: 3vw;
    justify-content: right;
    box-shadow:0 0 5px rgb(76, 118, 202);
    border-radius: 10px;
}
.header{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    /* background-color: aqua; */
    background-color: rgba(255, 255, 255, 0);
}
.head{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow:  0 0 135px rgb(76, 118, 202,0.2); */
    translate: rotateX(180deg);
    transform: all 2s;   
    background-color: rgba(255, 255, 255, 0);
}

.grd-1{
    width: 20%;
    height: 40%;
    position: absolute;
    top: -175px;
    left: -150px;
    /* box-shadow: inset 0 0 0 120px rgba(97, 150, 255, 0.248); */
    border-radius: 50%;
}
.grd-11{
    width: 25%;
    height: 40%;
    position: absolute;
    top:1090px;
    rotate: 90deg;
    left: 130px;
    box-shadow:  0 0 135px rgb(76, 118, 202,0.2);
    border-radius: 50%;
}
/* .grd-2{
    border-radius: 50%;
    width: 600px;
    height: 600px;
    display: flex;
    position: absolute;
    top: 100px;
    left: 150px;
    rotate:90px;
    /* background-color: antiqueblack; */
    /* }  */
    .about{
        width: 100%;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        }

    .abouttxt{
    width: 7vw;
    text-align: center;
    border-radius: 15px;
    background-color:  rgb(146, 182, 255,0.5);
    border: 3px solid rgb(146, 182, 255);
    color: white;
    font-weight: 600;
    font-size:xx-large; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 5vw;
    padding: 1vh 1vh;

}    
.aboutcntnt{
    width: 60%;
    background-color: rgba(255, 255, 255, 0.32);
    padding: 2vh 3vh;
    margin: 6px 5vw;
    border-radius: 15px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    word-spacing: 1vh;
    border: 1px solid rgb(76, 118, 202);
    line-gap-override: 1px;
    line-height:40PX;
    box-shadow:  0 0 135px rgb(76, 118, 202,0.2);

}

.langbox{
    width: 100%;
    height: 10vh;
    margin: 5vh 0;
    display: flex;  
    justify-content: end; 
    align-items: center;
    text-align: center;
    /* background-color: antiqueblack; */
}
.lang{
    width: fit-content;
    text-align: center;
    border-radius: 15px;
    background-color: rgba((256,256,256,0.32));
    border: 3px solid rgb(146, 182, 255);
    color: white;
    font-weight: 600;
    font-size:x-large; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 2vh 3vh;
    margin: 0 5vw;
    word-spacing: 1vh;
    /* border: 3px solid rgb(76, 118, 202); */
    background-color:  rgb(146, 182, 255,0.5);
}



.skillsbox{
    width: 100%;
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
}

 .skill{
    background-color: rgba((256,256,256,0.32));
    padding: 2vh 3vh;
    border-radius: 15px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    word-spacing: 1vh;
    font-weight: 500;
    text-align: left;
    width: fit-content;
    margin: 3px 5vw;
    box-shadow:  0 0 135px rgb(76, 118, 202,0.2);
    border: 1px solid rgb(146, 182, 255);
 }

 #skillsword{
    width: fit-content;
    text-align: center;
    border-radius: 15px;
    background-color:  rgb(146, 182, 255,0.5);
    border: 3px solid rgb(146, 182, 255);
    color: white;
    font-weight: 600;
    font-size:xx-large; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1vh 1vh;   
 }

 .eduboxes{
    width: 100%;
    /* height: 35vh; */
    margin: 7vh 0;
    display: flex;
    flex-direction: column;
    align-items: end;
 }
.edubox{
    width: fit-content;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

 .education{
    background-color: rgba((256,256,256,0.32));
    padding: 2vh 3vh;
    border-radius: 15px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    word-spacing: 1vh;
    font-weight: 500;
    text-align: left;
    width: fit-content;
    margin: 0 5vw;
    box-shadow:  0 0 135px rgb(76, 118, 202,0.2);
    border: 1px solid rgb(146, 182, 255);
    /* border: 3px solid rgb(76, 118, 202); */

 }

 #Qualification_wordd{
    width: fit-content;
    text-align: center;
    border-radius: 15px;
    background-color:  rgb(146, 182, 255,0.5);
    border: 3px solid rgb(146, 182, 255);
    color: white;
    font-weight: 600;
    font-size:xx-large; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1vh 1vh;   
 }

 
.working_ex{
    width: 100%;
    margin: 7vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .workes{
    background-color: rgba((256,256,256,0.32));
    padding: 2vh 3vh;
    border-radius: 15px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 1vh;
    font-size: x-large;
    font-weight: 500;
    text-align: left;
    width: fit-content;
    margin: 3px 5vw;
    box-shadow:  0 0 135px rgb(76, 118, 202,0.2);
    border: 1px solid rgb(146, 182, 255);
 }

 #workEx_word{
    width: fit-content;
    text-align: center;
    border-radius: 15px;
    background-color:  rgb(146, 182, 255,0.5);
    border: 3px solid rgb(146, 182, 255);
    color: white;   
    font-size:xx-large; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1vh 1vh;  
 }


 .cirtyboxes{
    width: 100%;
    margin: 7vh 0;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: end;
 }
.cirtybox{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

 .cirtificate{
    background-color: rgba((256,256,256,0.32));
    padding: 2vh 3vh;
    border-radius: 15px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    word-spacing: 1vh;
    font-weight: 500;
    text-align: left;
    width: fit-content;
    margin: 3px 5vw;
    box-shadow:  0 0 135px rgb(76, 118, 202,0.2);
    border: 1px solid rgb(146, 182, 255);
 }

 #cirty_word{
    width: fit-content;
    text-align: center;
    border-radius: 15px;
    background-color:  rgb(146, 182, 255,0.5);
    border: 3px solid rgb(146, 182, 255);
    color: white;
    font-size:xx-large; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1vh 1vh;   
 }

 .aboutcntnt:hover{
    border: 3px solid rgb(76, 118, 202);
 }
 .skill:hover{
    border: 3px solid rgb(76, 118, 202);
 }
  .education:hover{
    border: 3px solid rgb(76, 118, 202);
 } .workes:hover{
    border: 3px solid rgb(76, 118, 202);
 } 
 .cirtificate:hover{
    border: 3px solid rgb(76, 118, 202);
    /* animation-name: rotate;
    animation-duration: 2s; */
    /* animation-direction: alternate; */
 }
 .lang:hover{
    border: 3px solid rgb(76, 118, 202);
 }

/* @keyframes rotate {
     10% {
        transform:;
    } */
   /* 100% {
        transform: rotate(1turn);
    }
} */

.connect_box{
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(76, 118, 202);
    /* resize: both;
    overflow: auto; */
}

.pic_contain{
    width: 30%;
    height: 30vh;
    padding: auto;
    background-image: url(pic1.png);
    background-size: cover;
    background-color:rgb(255, 255, 255);
    box-shadow: inset 7px 7px 2px black,inset -7px -7px 2px black;
    border-radius: 15px;
    border: none;
    box-shadow:  0 0 15px rgb(76, 118, 202);
}

.chat{
    width: 60%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    /* background: linear-gradient(to bottom right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top right / 50% 50% no-repeat; position: relative; */
    background-color: rgb(76, 118, 202,0.4);
}

.connect{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 5px;
}

.massage_hii{
font-size: xx-large;
font-weight: 500;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding: 10px 10px;
margin: auto;
color:  rgb(76, 118, 202,0.4);
border-radius: 10px;            
/* border: 2px solid rgb(76, 118, 202); */
box-shadow: 0 0 25px rgb(76, 118, 202);
background-color: rgb(255, 255, 255);
}

.chating_text{
    padding: 10px 10px;
    color: white;
    border: none;
    font-size: x-large;
}

.connect_box:hover{
    box-shadow:  0 0 35px rgb(76, 118, 202);
    border: none;
}

.grdcirclr{
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 600px;
    box-shadow:  0 0 135px rgb(76, 118, 202,0.2);
margin: auto;
animation: grediag 4s infinite linear;
transform: rotate(-45deg) translateY(-150px);
bottom: 180px;
}
@keyframes grediag {
    0% {left:-50px;}
    50% {left:50px;}
    100% {left:-50px;}
    }

    .download_Resume_box{
        background: linear-gradient(45deg,rgb(255, 255, 255),rgb(124, 168, 255,0.4),rgb(255, 255, 255));
        text-align: center;
        padding: 10px 0;
        margin-top: 5px;
        margin-bottom: -7px;
    box-shadow:  0 0 135px rgb(76, 118, 202);
    }
    .download_resume{
        color: black;
        padding: auto;
        font-size: larger;
        font-weight: 200;
        text-decoration: none;
    }

    
input{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 5px 0;
    margin: 5px 0;
    border: none;
    box-shadow:  0 0 5px rgb(76, 118, 202);
    color: rgb(0, 0, 0);
    padding: 2px 5px;
    font-size: large;
    display: flex;
    margin: auto;
    margin-top: 5px;
}
.submitbtn{
    border-radius: 15px;
    padding: 5px 0;
    margin: 5px 0;
    border: none;
    box-shadow:  0 0 5px rgb(76, 118, 202);
    padding: 2px 5px;
    margin-bottom: 5px;
}

@media (max-width: 1000px) {
    .connect_box{
        width: 90%;
    }
    .pic_contain{
        background-size: cover;
    }
}
@media (max-width: 900px) {
    .connect_box{
        width: 80%;
    }
    .pic_contain{
        display: none;
        /* background-size: cover; */
    }
}

.otpfillupdiv{
    width: 100%;
    background-color: white;
    margin-top: 20px;
    padding: 20px auto;
    display: flex;
    justify-content: space-between;
    display: none;
}

.otp{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: larger;
    width: fit-content;
    background-color: burlywood;
    color: black;
    border: none;
}

.otpsubmit{
    background-color: red;
    color: white;
    padding: 10px 10px;
}

