*{
    margin: 0%;
}
body{
    background-color:rgb(0, 0, 0);
    text-align: center;
    margin: 0 auto;
    overflow-x:hidden;
    width: 100%;
}
 .navbar{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    width: 100vw;
 }
.line{    
    width: 5%;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1vw;
    background-color: black;
    /* align-items: center; */
}
.line-1{
    width: 80%;
    border: 1px solid white;    
}
.line-3{
    width: 35%;
    border: 1px solid white;    
}
.line-2{
    width: 20%;
    border: 1px solid white;    
}

.navContain{
    display:none;
    position: absolute;
    /* display:flex; */
    /* flex-wrap: wrap; */
    align-items: center;
    background-color: rgba(153, 68, 68, 0.583);
    width: 27vw;
    padding : 10px 20px;
    border-radius: 30px;
    left: 7vw;
    /* max-height: 10vh; */
    background-color: rgb(24, 22, 22);
    transition: all 1s ease-in-out;
    box-shadow: 0 0 8px rgb(76, 118, 202);
    margin-right: 100px;
    margin-top: 25px;
}
#cutNav{
    background-color: white;
    color: black;
    border-radius: 50%;
    margin-left: 10px;
    padding: 5px 11px;
    box-shadow: 0 0 20px rgb(76, 118, 202);
}
.navAtributes{
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 20px;
}


.portfoilo{
    color: rgb(255, 255, 255);
    font-size:5vw;
    font-weight: normal;
    width: 90%;  
    text-align: center; 
    margin: auto;
    justify-content: center; 
    /* z-index: 1200; */
    margin: auto;
}


.themeIcon{
    width: 55px;
    height: 55px;
    background-image: url(icons8-white-heart-48.png);
    background-size: contain;
    z-index: 9090;
    position: absolute;
    /* top: 0vh; */
    right: 30px;
    cursor: pointer;

}
.socialIcons{
    width: 300px;
    padding: auto;
    display: flex; 
     justify-content: space-evenly;
     padding: 15px 10px;
     right: 20px;
}
/* .socialIcons a{
    width: 50;
    height: 90;
} */

.icon {
    width: 50px;
    height: 50px;
}


.garvit{
    display: inline;
    color: rgb(255, 255, 255);
    font-size: 10vw; 
    font-weight: bolder;
    z-index: 3;
    font-family: inter;
    position: relative; 
    /* color: transparent;
    -webkit-background-clip: text; */
    animation: amima 3s infinite alternate; 
    text-shadow: 0.4vh 0.4vh 0.5vh rgb(216, 213, 213);
}
/* @keyframes amima{
    0%{
        background-color: rgba(255, 255, 255, 0.603);
    }
    100%{
        background-color: rgb(11, 9, 66);
    }
} */
/* .garvit::after{
    content: "GARVIT";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: navy;
    position: absolute;
    background-color: beige;
}
.garvit::before{
    content: "GARVIT";
    position: absolute;
    width: fit-content;
    background-color: rgb(151, 85, 0);
} */
/* 
.garvit:hover::after{
    content: "";
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 255, 0.263);
    top: 0;
    left: 0;
    animation-name: garvitanim;
    animation-duration: 2s;
    z-index: 11;
    text-align: center;
}
.garvit:hover::before{
    content: "";
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 255, 0.9);
    top: 0;
    left: 0;
    animation-name: garvitanim;
    animation-duration: 2s;
    z-index: 11;
    text-align: center;
}
@keyframes garvitanim{
    0%{
        width: 0;
        left: 0;
    }
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width:0;
        left:100%;
    }
} */
.arora{
    display: inline;
    color: rgb(255, 255, 255);
    font-size: 10vw;
    font-weight: bolder;
    z-index: 4;
    font-family: inter;
    /* text-underline-position: under; */
    text-shadow: 0.4vh 0.4vh 0.5vh rgb(216, 213, 213);
}
.circle{
    width: 22vw;
    height: 40vh;
    display: inline-block;
    border-radius: 50%;
    border-bottom: 4px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    border-left:  3px solid rgb(0, 0, 0);  
    background-image: url(pic1.png); 
    background-size: cover;
    z-index: 5;
    justify-content: center;
    /* box-shadow: 0 0 17px rgb(76, 118, 202); */
}
.circle:hover{
    box-shadow: 0 0 17px rgb(76, 118, 202);
}
.frntend{
    color: white;
    font-size: 3vw;
    justify-content: right;
    border-radius: 15px;
    background-color: black;
    padding: 2px 3px;
    box-shadow:0 0 10px rgb(76, 118, 202);
}

.header{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    /* background-color: aqua; */
    
}
.head{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to bottom right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top right / 50% 50% no-repeat; position: relative;
    translate: rotateX(180deg);
    transform: all 2s;   
}

.grd-1{
    width: 20%;
    height: 40%;
    position: absolute;
    top: -175px;
    left: -150px;
    background: radial-gradient(42.77% 46.77% at 50% 49.92%, rgba(242, 242, 245, 0.27) 0%, rgba(0, 0, 0, 0.00) 100%);
    border-radius: 50%;
}
#gridback1{
    top: 25vh;
    left: 71vh;
}
#gridback2{
    position: relative;
    top: -5vh;
    left: 135vh;
    /* background-color: blur(25px); */
     position: fixed;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, 0%);
  width: 800px;
  height: 800px;
	border-radius: 50% 22% 40% 80%;  
	filter: blur(100px);
  background: radial-gradient(circle at 50% 50%,rgba(76, 0, 255, 1), rgba(76, 0, 255, 0));
  opacity: 0.2;
}
#gridback3{
    top: 33vh;
    left: -18vh;
}
#gridback4{
    top: 120vh;
    left: 0vh;
    width: 30%;
    height: 50%;
}
#gridback5{
    top: 232vh;
    left: 110vh;
    width: 30%;
    height: 35%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80vw;
    height: 80vh;
      border-radius: 50% 22% 40% 80%;  
      filter: blur(100px);
    background: radial-gradient(circle at 50% 50%,rgba(76, 0, 255, 1), rgba(76, 0, 255, 0));
    opacity: 0.2;
}
#gridback6{
    top: 292vh;
    left: 143vh;
    width: 15%;
    height: 22%;
}
#gridback7{
    top: -35vh;
    left: 82vw;
    width: 30%;
    height: 50%;    
}
.grd-11{
    width: 25%;
    height: 40%;
    position: absolute;
    top:1090px;
    rotate: 90deg;
    left: 130px;
    background: radial-gradient(42.77% 46.77% at 50% 49.92%, rgba(242, 242, 245, 0.27) 0%, rgba(0, 0, 0, 0.00) 100%);
    border-radius: 50%;
}
/* .grd-2{
    border-radius: 50%;
    width: 600px;
    height: 600px;
    display: flex;
    position: absolute;
    top: 100px;
    left: 150px;
    rotate:90px;
    /* background-color: antiquewhite; */
    /* }  */
    .about{
        width: 100%;
        /* height: 55vh; */
        /* background: linear-gradient(to bottom right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top right / 50% 50% no-repeat; position: relative; */
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        /* background-color: antiquewhite; */
        margin: 5vh 0vh;
        background-color: rgba(0, 0, 0, 0);
        }

    .abouttxt{
    width: 7vw;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.32);
    border: 4px solid rgba(0, 0, 39, 0.65);
    color: white;
    font-size:xx-large; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 5vw;
    padding: 1vh 1vh;
}    
.aboutcntnt{
    width: 60%;
    background-color: rgba(0, 0, 0, 0.32);
    padding: 2vh 3vh;
    margin: 0 5vw;
    border-radius: 15px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    word-spacing: 1vh;
    /* border: 3px solid rgb(76, 118, 202); */
    line-gap-override: 1px;
    line-height:40PX;
    box-shadow:  0 0 135px rgb(76, 118, 202,0.2);

}

.langbox{
    width: 100%;
    height: 10vh;
    display: flex;  
    justify-content: end; 
    align-items: center;
    text-align: center;
    /* background-color: antiquewhite; */
    margin: 5vh 0;
    background-color: rgba(0, 0, 0, 0);
}
.lang{
    width: fit-content;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.32);
    border: 4px solid rgba(0, 0, 39, 0.65);
    color: white;
    font-size:x-large; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 2vh 3vh;
    margin: 0 5vw;
    word-spacing: 1vh;
    /* border: 3px solid rgb(76, 118, 202); */
}



.skillsbox{
    width: 100%;
    /* height: 35vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: linear-gradient(to bottom right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top right / 50% 50% no-repeat; position: relative; */
    /* background-color: antiquewhite; */
    margin: 10vh 0;
    background-color: rgba(0, 0, 0, 0);
}

 .skill{
    background-color: rgba(0, 0, 0, 0.32);
    padding: 2vh 3vh;
    border-radius: 15px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    word-spacing: 1vh;
    font-weight: 500;
    text-align: left;
    width: fit-content;
    margin: 3px 5vw;
    /* border: 3px solid rgb(76, 118, 202); */
    box-shadow:  0 0 135px rgb(76, 118, 202,0.2);


 }

 #skillsword{
    width: fit-content;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.32);
    border: 4px solid rgba(0, 0, 39, 0.65);
    color: white;
    font-size:xx-large; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1vh 1vh;   
    border: 4px solid rgba(0, 0, 39, 0.65);
 }

 .eduboxes{
    width: 100%;
    /* height: 35vh; */
    margin: 7vh 0;
    display: flex;
    flex-direction: column;
    align-items: end;
 }
.edubox{
    width: fit-content;
    /* height: 35vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    /* background: linear-gradient(to bottom right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top right / 50% 50% no-repeat; position: relative; */
    background-color: rgba(0,0,0,0);
}

 .education{
    background-color: rgba(0, 0, 0, 0.32);
    padding: 2vh 3vh;
    border-radius: 15px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    word-spacing: 1vh;
    font-weight: 500;
    text-align: left;
    width: fit-content;
    margin: 3px 5vw;
    /* border: 3px solid rgb(76, 118, 202); */

 }

 #Qualification_wordd{
    width: fit-content;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.32);
    border: 4px solid rgba(0, 0, 39, 0.65);
    color: white;
    font-size:xx-large; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1vh 1vh;   
 }

 
.working_ex{
    width: 100%;
    /* height: 35vh; */
    margin: 7vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: linear-gradient(to bottom right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top right / 50% 50% no-repeat; position: relative; */
    background-color: rgba(0, 0, 0, 0);
}

 .workes{
    background-color: rgba(0, 0, 0, 0);
    padding: 2vh 3vh;
    border-radius: 15px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 1vh;
    font-size: x-large;
    font-weight: 500;
    text-align: left;
    width: fit-content;
    margin: 3px 5vw;
    box-shadow:  0 0 135px rgb(76, 118, 202,0.2);

 }

 #workEx_word{
    width: fit-content;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.32);
    border: 4px solid rgba(0, 0, 39, 0.65);
    color: white;
    font-size:xx-large; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1vh 1vh;  
    border: none; 
    box-shadow:  0 0 135px rgb(76, 118, 202);
    border: 4px solid rgba(0, 0, 39, 0.65);

 }


 .cirtyboxes{
    width: 100%;
    margin: 7vh 0;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: end;
    background-color: rgba(0, 0, 0, 0);
 }
.cirtybox{
    width: fit-content;
    /* height: 45vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    /* background: linear-gradient(to bottom right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top right / 50% 50% no-repeat; position: relative; */
    /* background-color: rgb(0, 79, 143, 0.1); */
    background-color: rgba(0, 0, 0, 0);
}

 .cirtificate{
    background-color: rgba(0, 0, 0, 0.32);
    padding: 2vh 3vh;
    border-radius: 15px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    word-spacing: 1vh;
    font-weight: 500;
    text-align: left;
    width: fit-content;
    margin: 3px 5vw;
    box-shadow:  0 0 135px rgb(76, 118, 202,0.2);
 }

 #cirty_word{
    width: fit-content;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.32);
    border: 4px solid rgba(0, 0, 39, 0.65);
    color: white;
    font-size:xx-large; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1vh 1vh;   
 }

 .aboutcntnt:hover{
    border: 3px solid rgb(76, 118, 202);
 }
 .skill:hover{
    border: 3px solid rgb(76, 118, 202);
 }
  .education:hover{
    border: 3px solid rgb(76, 118, 202);
 } .workes:hover{
    border: 3px solid rgb(76, 118, 202);
 } 
 .cirtificate:hover{
    border: 3px solid rgb(76, 118, 202);
    /* animation-name: rotate;
    animation-duration: 2s; */
    /* animation-direction: alternate; */
 }
 .lang:hover{
    border: 3px solid rgb(76, 118, 202);
 }

/* @keyframes rotate {
     10% {
        transform:;
    } */
   /* 100% {
        transform: rotate(1turn);
    }
} */

.connect_box{
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    border-radius: 15px;
    background-color: black;
    border: 2px solid rgb(76, 118, 202);
    /* resize: both;
    overflow: auto; */
    background-color: rgba(0, 0, 0, 0);
}

.pic_contain{
    width: 30%;
    height: 30vh;
    padding: auto;
    background-image: url(pic1.png);
    background-size: cover;
    background-color:black;
    box-shadow: inset 7px 7px 2px black,inset -7px -7px 2px black;
    border-radius: 15px;
    border: none;
    box-shadow:  0 0 15px rgb(76, 118, 202);
    z-index: 9999;
}

.chat{
    width: 70%;
    margin: 0 0.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    /* background: linear-gradient(to bottom right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(31, 51, 125, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%) top right / 50% 50% no-repeat; position: relative; */
    background-color: black;
    z-index: 9999;
}

.connect{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-weight: 900;
    color: white;
    text-align: center;
    padding-top: 5px; 
}

.massage_hii{
font-size: xx-large;
font-weight: 500;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding: 10px 10px;
color: white;
border-radius: 10px;            
box-shadow: 0 0 25px rgb(76, 118, 202);
background-color: black;
margin: auto;
}

.chating_text{
    width: 100%;
    color: white;
    border: none;
    text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin: auto;
}

.connect_box:hover{
    box-shadow:  0 0 35px rgb(76, 118, 202);
    border: none;
}

.grdcirclr{
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 600px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), radial-gradient(87.41% 48% at 50% 50%, rgba(24, 36, 82, 0.30) 0%, rgba(24, 36, 82, 0.00) 100%);
margin: auto;
animation: grediag 4s infinite linear;
transform: rotate(-45deg) translateY(-150px);
bottom: 180px;
}
@keyframes grediag {
    0% {left:-50px;}
    50% {left:50px;}
    100% {left:-50px;}
    }

    .download_Resume_box{
        background: linear-gradient(45deg,black,rgb(124, 168, 255,0.4),black);
        text-align: center;
        padding: 10px 0;
        margin-top: 5px;
        margin-bottom: -7px;
    box-shadow:  0 0 135px rgb(76, 118, 202);
    }
    .download_resume{
        color: white;
        padding: auto;
        font-size: larger;
        font-weight: 200;
        text-decoration: none;
    }

 
input{
    background-color: black;
    border-radius: 8px;
    padding: 5px 0;
    margin: 5px 0;
    border: none;
    box-shadow:  0 0 5px rgb(76, 118, 202);
    color: white;
    padding: 2px 5px;
    width: 100%;
}
.submitbtn{
    border-radius: 15px;
    padding: 5px 0;
    margin: 5px 0;
    border: none;
    box-shadow:  0 0 5px rgb(76, 118, 202);
    padding: 2px 5px;
    margin-bottom: 5px;
}

@media (max-width: 1000px) {
    .connect_box{
        width: 90%;
    }
    .pic_contain{
        background-size: cover;
    }
    #gridback1{
        display: none;
    }
    #gridback2{
        display: none;
    }
    #gridback5{
        display: none;
    }
}

.socialcontains{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    .connect_box{
        width: 80%;
    }
    .pic_contain{
        display: none;
        /* background-size: cover; */
    }
}
