body{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(pic1.png);
    background-size: contain;
    background-position: center;
}
.hi{
    width: 500px;
    height: 300px;
    background: linear-gradient(135deg,red,blue);
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    opacity: 0.5;
    color: aliceblue;
    text-align: center;
    box-shadow: 0 0 2px 0 black;
}